In [32]:
from pathlib import Path
import shutil
import os
import numpy as np
import pandas as pd
import cv2
import matplotlib.pyplot as plt
cwd = os.getcwd()

In [33]:
# number of samples per class to select
N = 750

# train val split
SPLIT = 2/3

# size for cutting out of frames
CUT_SIZE = 400

# size of frames to be fed to the network
SIZE = 256

In [34]:
p = Path(cwd, 'raw_data')

### get frames of video

In [35]:
# p = p / 'vid001.mp4'
# os.system("ffmpeg -i "+str(p)+" -r 1/1 raw_data/frames/%05d.bmp")

### get data frame with monkey bb's

drop all monky-less frames

---

results file contents
- rows of: '{frame},{id},{x1},{y1},{w},{h},{score},{cls_id},1\n'
  - class ID's: monkey,patch,kong,branch,XBI
  - frame ID's are all +1

In [36]:
bb_df = pd.read_csv(str((p / 'results.txt')), sep=',', names=['frame','id','x1','y1','w','h','score','cls_id','1'])

# drop last column thats always 1 and score as we ingnore it either way
bb_df.drop(['1', 'score'], axis=1, inplace=True)

# drop all rows not containing a bb for a monkey
bb_df = bb_df[bb_df.cls_id == 0]

# drop column containing cls_id
bb_df.drop('cls_id', axis=1, inplace=True)

# substract 1 from frame column
bb_df.frame -= 1

# drop id column as we do not have a need for it
bb_df.drop('id', axis=1, inplace=True)

# set frame column as index column
bb_df.set_index('frame', inplace=True)

bb_df

               x1          y1           w           h
frame
0      420.844788  186.737427  224.581787  157.413940
1      421.616690  187.334521  223.154584  156.398481
2      421.174133  187.133186  223.494356  156.709724
3      421.281979  187.206122  223.030090  156.409062
4      421.140797  187.421083  221.930143  155.795984
...           ...         ...         ...         ...
20995  620.534945  307.258562  195.949614  179.308152
20996  619.245913  308.421343  192.397138  177.108591
20997  618.442531  308.309059  191.720266  177.593681
20998  619.414607  309.109406  188.797987  176.196563
20999  621.571496  310.912944  183.890810  172.725001

[21000 rows x 4 columns]

### get data frame with pose information

---

- drop rows containing interactions
- get set of distinct poses

In [37]:
label_df = pd.read_csv(str((p / 'hum_2021-09-21_M1-2_cam19415032_vid001.mp4.txt')), sep=' ', names=['frame','from','to','pose_or_action'])

# drop all rows containing interactions
label_df = label_df[label_df.to == '-']

# drop to column as it is no longer needed
label_df.drop('to', axis=1, inplace=True)

# rename last column as contents are now cleaned up
label_df.rename(columns={'pose_or_action': 'pose'}, inplace=True)

# can drop from column there is only one monkey either way...even if it is detected with multiple ID's
label_df.drop('from', axis=1, inplace=True)

# set frame column as index column
label_df.set_index('frame', inplace=True)

label_df

          pose
frame
0      walking
1      walking
2      walking
3      walking
4      walking
...        ...
20986  walking
20987  walking
20988  walking
20989  walking
20990  walking

[20556 rows x 1 columns]

In [38]:
labels = label_df.pose.unique()
labels

array(['walking', 'standing4legs', 'sitting', 'standing2legs'],
      dtype=object)

### create combined df

---

combine df's of monkey bb's and according pose label

join tables on frame number
- use merge instead of join (takes by default inner join and thus only matches intersection of keys)

In [39]:
joined_df = bb_df.merge(label_df, left_index=True, right_index=True)

# turn bb values to int
joined_df[['x1','y1','w','h']] = joined_df[['x1','y1','w','h']].astype(int)

joined_df

        x1   y1    w    h     pose
frame
0      420  186  224  157  walking
1      421  187  223  156  walking
2      421  187  223  156  walking
3      421  187  223  156  walking
4      421  187  221  155  walking
...    ...  ...  ...  ...      ...
20986  621  302  204  175  walking
20987  622  303  202  176  walking
20988  621  303  204  179  walking
20989  618  303  204  180  walking
20990  618  303  201  178  walking

[20556 rows x 5 columns]

### generate trainings data

---

- get similar numbers of different poses in train and validation sets
- *future* also get similar numbers accross different videos

In [40]:
# get sample count per label
for l in labels:
    print(l, len(joined_df[joined_df.pose == l]))

walking 1339
standing4legs 1709
sitting 15385
standing2legs 2123

In [41]:
# sample N elements per pose
samples = {l: joined_df[joined_df.pose==l].sample(N).drop('pose', axis=1)
                        for l in labels
                    }
samples

{'walking':         x1   y1    w    h
 frame
 733    293  121  145  186
 112    282  140  226  189
 12869  364  197  103  215
 12864  357  191  108  220
 20967  634  289  189  152
 ...    ...  ...  ...  ...
 12961  348  241  136  219
 18643  428  422  268  181
 86     331  159  203  169
 20038  672  349  162  214
 20563  722  334  173  154

 [750 rows x 4 columns],
 'standing4legs':         x1   y1    w    h
 frame
 19654  636  342  185  229
 19772  641  332  194  237
 688    301  137  148  174
 20744  625  234  206  192
 19680  639  333  198  236
 ...    ...  ...  ...  ...
 20734  624  233  210  196
 700    293  130  155  178
 20833  635  235  198  190
 377    293  120  154  189
 20403  758  332  202  180

 [750 rows x 4 columns],
 'sitting':         x1   y1    w    h
 frame
 10906  297   99  116  169
 5530   301  100  107  167
 2542   298   92  105  174
 1053   263  104  123  161
 2300   302   91  105  176
 ...    ...  ...  ...  ...
 15415  425  432  175  171
 8725   300   92  108  175
 15639  428  432  167  170
 6829   300   92  108  174
 7101   301   92  107  174

 [750 rows x 4 columns],
 'standing2legs':         x1   y1    w    h
 frame
 19049  641  298  165  294
 19045  640  292  167  299
 18816  639  270  169  322
 17800  394  274  214  305
 18790  634  274  178  314
 ...    ...  ...  ...  ...
 17728  354  296  286  294
 18393  399  266  224  308
 18407  405  269  213  303
 18589  381  389  235  199
 16809  418  299  218  294

 [750 rows x 4 columns]}

In [42]:
# # create train and val split
samples_train = {l: samples[l].iloc[:int(SPLIT*N)]
                        for l in labels
                    }
samples_validation = {l: samples[l].iloc[int(SPLIT*N):]
                        for l in labels
                    }
# from sklearn.model_selection import train_test_split
# X_train, X_validation = train_test_split(samples['walking'],  train_size=SPLIT)
# X_train, X_validation

### collect images and save at correct location

---

- read in images using opencv
- cut images to 256x256 with bb in center
- save images in train / validation folder
  - using subfolders per label

In [43]:
cap = cv2.VideoCapture(str((p / 'vid001.mp4')))
samples[labels[0]].iloc[0]

x1    293
y1    121
w     145
h     186
Name: 733, dtype: int64

In [51]:
for l in labels:
    print(l)
    for index, row in samples_validation[l].iterrows():
        x1, y1, w, h = row
        # print(index, row)
        cap.set(cv2.CAP_PROP_POS_FRAMES, index)
        ret, frame = cap.read()
        # print(frame.shape)
        (fh, fw, c) = frame.shape
        
        # if w <= CUT_SIZE and h <= CUT_SIZE:
        # corners = [[x1 - (SIZE-w)//2, y1 - (SIZE-h)//2],
        #             [x1 + w + (SIZE-w)//2, y1 - (SIZE-h)//2],
        #             [x1 + w + (SIZE-w)//2, y1 + h + (SIZE-h)//2],
        #             [x1 - (SIZE-w)//2, y1 + h + (SIZE-h)//2]
        #         ]
        y = np.clip([y1 - (CUT_SIZE-h)//2, y1 + h + (CUT_SIZE-h)//2], 0, fh)
        x = np.clip([x1 - (CUT_SIZE-w)//2, x1 + w + (CUT_SIZE-w)//2], 0, fw)
        frame = frame[y[0]:y[1],x[0]:x[1],:]

        # pad: top, bottom, left, right
        w_pad, h_pad = max(0, w - CUT_SIZE), max(0, h - CUT_SIZE)
        if w_pad > 0 or h_pad > 0:
            print(h_pad//2, h_pad//2+h_pad%2)
            frame = np.pad(frame, ((h_pad//2, h_pad//2+h_pad%2), (w_pad//2, w_pad//2+w_pad%2)), 'constant')

        # padded_frame = cv2.copyMakeBorder(frame, frame.shape[])
        # else:
        #     # this is a problem!!!!
        #     pass
        print(index)
        cv2.imwrite(str((p / 'poses' / 'validation_data' / l))+"/{:05d}.png".format(index), frame)

        

        # frame = cv2.cvtColor(frame, cv2.COLOR_BGR2RGB)
        # plt.imshow(frame)
        # plt.title(l)
        # plt.show()
        # print(x1, y1, w, h)
        # break

walking
20341
12847
12935
13274
12841
20141
18674
20079
20652
20094
123
20956
20581
68
12826
18639
12786
20978
20657
12954
12695
20649
12871
12817
20961
190
146
734
12990
20065
20169
20350
20620
13306
119
789
156
93
19999
751
27
13327
13288
12948
36
18642
12757
12791
19984
12889
13350
13345
20621
12946
722
12778
13016
122
20058
783
0
20989
104
12918
720
12907
12719
18661
13256
12726
18706
766
20215
20570
128
12750
20220
20351
20987
20148
796
179
20313
20587
758
132
92
13287
20677
12964
13344
12963
12754
18632
20615
140
13004
20000
20582
55
19991
20678
13310
776
13313
20655
13332
20632
20204
61
12747
20029
20526
20176
13357
20110
20136
12905
18620
755
12730
12725
12913
799
13285
12943
178
12769
20216
18679
18614
20654
12797
20345
12861
20123
12748
13311
20572
20593
82
20358
20984
12844
18626
20613
20953
13
20976
19988
20127
12768
20152
785
18703
12849
20213
12986
12762
13299
20109
12838
12758
12926
20568
109
18678
78
164
12941
20639
17
20538
25
20329
148
12834
81
20536
20026
791
12772
20679
3
12744
18693
114
12917
20983
20068
20577
20625
18615
18668
20145
12764
795
105
13308
12934
20222
20096
12820
20946
20664
12988
7
20594
12731
20178
20663
20650
163
18645
20355
12853
20032
13358
13296
69
20218
12711
12921
723
20195
20132
18636
12912
20192
13289
20317
20675
20986
12993
137
51
59
53
12890
20962
20360
12855
12701
20083
20959
12961
18643
86
20038
20563
standing4legs
20281
19788
20923
566
217
20280
20251
294
13117
500
13025
20890
19743
19818
19878
19561
20256
19543
19733
647
19887
20870
623
20764
20884
19694
20746
19669
274
19777
802
13071
19540
13190
13122
370
717
20366
692
693
20291
20393
389
13192
524
19630
20299
19610
830
19692
19587
375
19739
13167
19675
20701
13141
455
19793
13040
581
282
20467
20292
13075
400
19838
13083
20484
19742
19662
13205
19900
637
468
19905
483
13375
19575
19597
20708
20465
20776
301
13046
595
20829
19635
577
291
19858
19801
220
20433
652
346
20925
13184
20882
19853
19862
13036
323
13199
19580
234
19827
20865
13050
13093
369
20757
20900
19713
13232
20916
19636
13394
19957
19640
812
13027
19623
19785
19592
19936
20385
471
20850
426
470
19570
591
20929
505
13160
576
19568
503
13174
410
702
19792
19526
19843
451
20274
560
279
20859
516
20830
13044
19776
479
19541
13159
321
20423
13388
464
13045
13115
20782
19744
443
19923
19525
20897
13070
19897
20424
13186
558
19750
19763
339
636
596
20752
353
19621
20468
19626
13412
19912
454
20254
19612
604
20279
216
13384
13403
304
20451
681
13215
20753
20788
19823
19647
19566
13161
19872
522
810
20758
20815
20887
13172
13163
714
13130
19584
387
19758
599
685
19930
572
362
20904
20422
666
20294
19819
13129
20805
308
20812
19762
13105
611
20756
457
19789
20255
20412
13058
295
612
580
13185
526
20734
700
20833
377
20403
sitting
5836
12275
17103
10194
6334
2426
3948
14518
1566
6674
3372
3673
9396
8435
4007
9894
6489
10658
11481
9473
13884
1102
14302
8515
15699
6709
15536
17132
12104
15360
9850
14221
6110
8574
12569
4375
6008
5321
1761
3482
10535
7473
17548
2992
1635
9896
15813
6639
4342
15841
16213
17417
3689
1045
11635
1469
15023
3104
9487
5660
7261
9733
2914
1828
6281
14484
13553
14563
10032
17602
16275
17251
14655
6778
7216
5984
12129
14868
12345
4321
14310
12604
12625
10023
8589
6045
6037
6673
1341
9470
17159
3349
15349
1035
14890
3639
2816
8126
13856
13677
15711
11930
2406
5262
14944
16977
6321
1348
16202
7175
3756
15598
10934
15045
13627
5957
6555
11116
11101
16027
9538
14465
7041
7762
5605
5328
12115
14248
7161
8928
15281
12085
5482
1261
17296
6214
6846
15082
7497
8799
8981
2340
4890
1422
11036
4393
2844
5844
10633
13507
1571
6126
4291
10296
4292
9320
1540
7675
11038
5331
13755
9992
7235
3465
4920
5043
4474
11044
2654
10837
1421
7328
11735
10757
5722
2886
7487
11661
15488
7658
14540
2202
2008
11778
2330
12476
6971
9624
10094
8543
1690
9046
5839
17309
3858
8090
6871
3460
4997
9144
3431
6303
14568
7000
3931
8318
2774
4135
13765
9411
16029
10024
15953
7244
9349
11156
2294
6839
1204
16310
9418
2986
10394
15121
5649
6153
3652
14032
10855
2496
17605
12247
15709
2908
2161
9284
8485
5789
5311
7977
12515
5455
14332
13946
8158
15415
8725
15639
6829
7101
standing2legs
19322
16708
16701
19021
16583
17738
16703
19169
16836
16668
18098
17768
19331
18803
17876
18857
16872
18486
18076
18765
18265
19243
18773
18814
19457
18349
16908
17867
18009
16659
16886
19157
18510
18141
18448
18982
16817
17807
16710
19473
18562
16843
16903
18466
16749
16556
18027
18297
19019
19039
16651
18044
19007
16529
18221
18491
19011
19315
18840
18285
18834
16572
16824
16496
17821
19109
18874
19215
18937
18586
19014
16757
16691
17850
17764
19261
16758
18573
17772
18003
18490
16602
18894
18738
18512
18960
18495
16781
17720
19393
19333
18242
18033
19348
18176
18752
17737
19025
18258
18866
19428
18026
17820
17971
18333
18883
17955
16839
17928
18766
18742
18549
18488
17749
19254
17861
19188
19385
19125
16435
19426
19396
19295
17884
17769
16591
18995
17936
19162
19231
18859
18131
17925
17734
17870
17758
19198
16574
17958
17897
17859
18811
18412
16814
18348
18085
19044
17762
16541
18232
18432
18406
19119
18473
16902
16469
16743
18381
17871
16882
16906
16754
18863
18973
18869
18158
19277
16832
18355
18949
18922
17743
16818
19055
19487
19146
19294
16811
19101
16451
18079
19024
18537
17761
19468
16564
18332
19206
18813
16768
18939
18845
17930
19067
18500
18000
16442
18856
18517
18174
17791
19056
19065
18164
17846
16497
18160
19433
16879
17986
16857
18152
18576
18051
16599
16713
18334
16835
19022
17900
18240
19131
18145
16571
16457
18908
18206
18872
18998
18980
18929
18243
18058
16751
18802
18822
17741
18455
16807
18107
17808
16493
19378
19336
18915
17728
18393
18407
18589
16809